<h3>Privileges&nbsp;&nbsp;&nbsp;<%= link_to '+', new_privilege_path, :remote =>  true, :style => "text-decoration:none;" %></h3>

<table width="650" class="datatable">
  <tr style="border-bottom: 1px solid #999999;">
    <th>Privileges Types:</th>
    <th></th>
    <th></th>
  </tr>

  <% @privileges.each do |privilege| %>
    <tr>
      <td width="500"><%= privilege.name %></td>
      <td><%= link_to 'Edit', edit_privilege_path(privilege) %></td>
      <td><%= link_to (image_tag 'trash.png'), privilege, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

