<h3>Groups&nbsp;&nbsp;&nbsp;<%= link_to_function 'Add +', "fetch_object('#{new_group_path}');", :class => "functional_link" %></h3>

<table width="650" class="datatable">
  <tr style="border-bottom: 1px solid #999999;">
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>
  <% @groups.each do |group| %>
    <tr>
      <td width="500"><%= group.name %></td>
      <td><%= link_to_function (image_tag 'edit-icon-small.gif'), "fetch_object('#{edit_group_path(group)}')", :class => "functional_link"  %></td>
      <td><%= link_to (image_tag 'trash.png'), group, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<div style="background-color: #eeeeee;float: left;" id="add_edit_form">

</div>