<div class="edit_form" >
  <h3>Change Customer Class</h3>
  <%= render 'form' %>
</div>


<script type="text/javascript">
  $(document).ready(function () {
  set_cursor('#apply_to_name');
  });
</script>