<div id="menu">
  <ul class="menu">

    <li><a href="/">Dashboard</a></li>
    <li class="submenu">
      <a class="account" href="#">Settings</a>
      <div class="submenu left">
        <ul>
          <li><a href="#">ABC link</a></li>
          <li><a href="#">CDE link</a></li>
          <li class="line"><a href="#">EFG link</a></li>
          <li><a href="#">GHI link</a></li>
          <li><a href="#">IJK link</a></li>
        </ul>
      </div>
    </li>

    <li class="submenu">
      <a class="account" href="#">My Products</a>
      <div class="submenu left">
        <ul>
          <li><a href="#">LMN link</a></li>
          <li><a href="#">MNO link</a></li>
          <li class="line"><a href="#">NOP link</a></li>
          <li><a href="#">PQR link</a></li>
          <li><a href="#">QRS link</a></li>
        </ul>
      </div>
    </li>

    <li class="submenu">
      <a class="account" href="#">Reports</a>
      <div class="submenu left">
        <ul>
          <li><a href="#">RST link</a></li>
          <li><a href="#">STU link</a></li>
          <li class="line"><a href="#">UVW link</a></li>
          <li><a href="#">VWX link</a></li>
          <li><a href="#">XYZ link</a></li>
        </ul>
      </div>
    </li>
    
    <li><a href="/customers">Contacts</a></li>

    <li><a href="#">Store</a></li>
    
    <li><a href="#"><%= image_tag "search.jpg", :alt => "Search" %></a></li>

    <li class="account submenu">
      <a class="account" href="#">Account</a>
      <div class="submenu right">
        <ul>
          <li class="logged_in_as line">
            <p>welcome</p>
            <h4><a href="#"><%= current_user.email %></a></h4>
          </li>
          <li>
            <a href="#">Pakket &amp; betalingen</a>
          </li>
          <li><a href="site_users">Settings</a></li>
          <li> <%= link_to "Log Out", "/sign_out" %></li>
        </ul>
      </div>
    </li>
    <li class="help"><a class="help" href="#">Help</a></li>
  </ul>
</div>