<div style="float: left;">
  <h3>Edit Contact</h3>

  <%= render 'form' %>

</div>

<script type="text/javascript">
  $(document).ready(function () {
  set_cursor('#customer_company');
  });
</script>

