<h3>Countries&nbsp;&nbsp;&nbsp;<%= link_to_function 'Add +', "fetch_object('#{new_country_path}');", :class => "functional_link" %></h3>
<div style="background-color: #eeeeee;float: left;" id="add_edit_form">

</div>
<table width="650" class="datatable">
  <tr style="border-bottom: 1px solid #999999;">
    <th>Name:</th>
    <th></th>
    <th></th>
  </tr>

  <% @countries.each do |country| %>
    <tr>
      <td width="500"><%= country.name %></td>
      <td><%= link_to_function (image_tag 'edit-icon-small.gif'), "fetch_object('#{edit_country_path(country)}')", :class => "functional_link"  %></td>
      <td><%= link_to image_tag('trash.png'), country_path(country), :confirm =>'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
