<p id="notice"><%= notice %></p>
<h3>Call Group</h3>
<p>
  <b>Name:</b>
  <%= @callgroup.name %>
</p>


<%= link_to 'Edit', edit_callgroup_path(@callgroup) %> |
<%= link_to 'Back', callgroups_path %>
