<h3>Regions&nbsp;&nbsp;&nbsp;<%= link_to '+', new_region_path, :remote =>  true, :style => "text-decoration:none;" %></h3>

<table width="650" class="datatable">
  <tr style="border-bottom: 1px solid #999999;">
    <th>Region Name:</th>
    <th></th>
    <th></th>
  </tr>

  <% @regions.each do |region| %>
    <tr>
      <td width="500"><%= region.name %></td>
      <td><%= link_to (image_tag 'edit-icon-small.gif'), edit_region_path(region) %></td>
      <td><%= link_to (image_tag 'trash.png'), region, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
</table>

