<h3>Regions&nbsp;&nbsp;&nbsp;<%= link_to_function 'Add +', "fetch_object('#{new_region_path}');", :class => "functional_link" %></h3>

<table width="650" class="datatable">
  <tr style="border-bottom: 1px solid #999999;">
    <th>Region Name:</th>
    <th></th>
    <th></th>
  </tr>

  <% @regions.each do |region| %>
    <tr>
      <td><%= region.name %></td>
      <td><%= link_to_function (image_tag 'edit-icon-small.gif'), "fetch_object('#{edit_region_path(region)}')", :class => "functional_link"  %></td>
      <td><%= link_to (image_tag 'trash.png'), region, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
</table>

<div style="background-color: #eeeeee;float: left;" id="add_edit_form">

</div>