<div style="background-color: #eeeeee;float: left;padding: 10px;">
  <h3>Change Seller Rate</h3>

  <%= render 'form' %>

</div>

<script type="text/javascript">
  $(document).ready(function () {
  set_cursor('#seller_rate_prefix');
  });
</script>
